:root {
  --turquoise: rgb(8, 182, 206);
  --sky: rgb(116, 213, 221);
  --tufs: rgb(57, 138, 215);
  --lapis: rgb(47, 102, 169);
}

* {
  font-family: geneva, sans-serif;
  margin: auto;
  padding: 0px;
}

body {
  padding: 10px;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 10px;
  background: var(--sky);
  border-radius: 10px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  max-width: 800px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 5px;
  background: var(--turquoise);
}

.id {
  font-size: 10.5px;
}

#submitNewThread {
  background: lightgrey;
  padding: 50px;
  max-width: 750px;
  border: 2px dotted grey;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  
}

input[type='text'], textarea {
  width: 400px;
  border: 2px solid grey;
  border-radius: 20px;
  margin: 1px;
  font-size: 12;
  padding: 5px;
}

textarea {
  resize: vertical;
}

input[type='text']:focus, textarea:focus {
  border: 3px solid black;
  outline: none;
}

input[type='text'] {
  height: 1.5rem;
  
}

input[type='submit'] {
  height: 2rem;
  width: 4rem;
  border: 2px solid grey;
  border-radius: 20px;
  font-size: 12px;
  margin-top: 10px;
  outline: none;
}

input[type='submit']:active {
  outline: none;
  transform: scale(.9);
}

input[type='submit']:hover {
  background: grey;
  color: white;
  cursor: pointer;
  border: 2px solid lightgrey;
}
